!.env.example
.env
yarn-error.log
coverage
node_modules
!reports/README.md
reports/*
**/package-lock.json
dist
dist-modules-temp

styleguide/build/
styleguide/favicon.ico
styleguide/favicon.png
styleguide/fonts/
styleguide/index.html
styleguide/manifest.json
styleguide/reaction-design-system-logo.svg
