/**
 * Global
 *
 * Define styles that should apply to the style guide and the components within it here.
 * This should not be very many things.
 */
body {
  font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/**
 * Style Guide Theme
 *
 * Define styles for the style guide application here.
 * Be careful not to define any styles that will apply generally to the components
 * or any of the HTML elements they render. (In general, only style .rsg--* classes here.)
 */

.columns {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-bottom: 10px;
}

.columns > .column {
  margin-bottom: 20px;
}

@media(min-width: 879px) {
  .columns > .column {
    flex: 1;
    min-width: 280px;
    max-width: 280px;
    margin-right: 30px;
  }
}

.column img {
  width: 100%;
  margin-bottom: 15px;
}